{% extends "base2.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="jumbotron">
            <h3> Enter New Grade For the Student {{ student_name }}</h3>
            <form action="{{url_for('edit_existing_record')}}">
                <label for="company_name"> Company Name:</label>
                <input type="text" name="company_name" value="{{ company_name }}">

                <label for="phone">Phone</label>
                <input type="number" name="phone" value="{{ phone }}">

                <label for="email">Email</label>
                <input type="text" name="email" value="{{ email }}">

                <label for="address">Address</label>
                <input type="text" name="address" value="{{ address }}">

                <input type="submit" value="Edit Record">
            </form>
        </div>
    </div>
{% endblock %}
