{% extends "base2.html" %}
{% block content %}
<div class="jumbotron">
<p> Welcome to Yellow Pages</p>
    <div class="jumbotron">
        <p> Fill out the form to submit a new record</p>
        <form action="{{url_for('submit_record')}}">
            <label for="company_name"> Company Name:</label>
            <input type="text" name="company_name">

            <label for="email">Email</label>
            <input type="text" name="email">

            <label for="phone">Phone</label>
            <input type="number" name="phone">

            <label for="address">Address</label>
            <input type="text" name="address">

            <input type="submit" value="Submit Record">
        </form>
    </div>

    <div class="container">
        <p> Enter the phone number to delete record</p>
        <form action="{{url_for('delete_record')}}">
            <label for="phone"> Phone No:</label>
            <input type="number" name="phone">
            <input type="submit" value="Delete Record">
        </form>
    </div>

<br>

    <div class="container">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class = "alert alert-danger">
                {{ message }}
            </div>
        {%- endfor %}
    </div>

<br>

    <div class="container">
        <div class="row">
            <div class="col-6">
                    <a style="color: black" href = "{{ url_for('show_all') }}">
                        <button type="button" class="btn btn-primary" style="width: 100%">
                            Show All Records
                        </button>
                    </a>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}


