{% extends "base2.html" %}
{% block content %}
    <div class="jumbotron">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.company_name }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.address }}</td>
                    <td>
                        <a style="color: black" href = "{{ url_for('edit_record', company_name=record.company_name, phone=record.phone, email=record.email, address=record.address) }}">
                            <button type="button" class="btn btn-primary" style="width: 100%">
                                Edit Record
                            </button>
                        </a>
                    </td>

                    <td>
                        <a style="color: black" href = "{{ url_for('delete_record', phone=record.phone) }}">
                            <button type="button" class="btn btn-primary" style="width: 100%">
                                Delete Record
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
